<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thingclips.appsdk.sample.third.service">

    <application>
        <activity
            android:name=".ThirdServiceManagerActivity"
            android:exported="false" />
    </application>

</manifest>