<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuya.groupmanager">

    <application>
        <activity android:name=".GroupListActivity"></activity>
        <activity android:name=".GroupManagerActivity" />
    </application>

</manifest>