<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tuya.smart.bizubundle.demo">

    <application
        android:name=".TuyaSmartApp"
        android:allowBackup="false"
        android:allowNativeHeapPointerTagging="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Base_BizBundle_Theme"
        tools:replace="android:theme,android:supportsRtl,android:allowBackup">

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <!--  demo use only start  -->
                <action android:name="tuyasmart_demo_main" />
                <!--  demo use only end  -->
            </intent-filter>

        </activity>
        <activity
            android:name=".ThemeActivity"
            android:exported="false" />

        <activity-alias
            android:name="com.tuya.smart.hometab.activity.shortcut"
            android:exported="true"
            android:targetActivity=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity-alias>

        <activity-alias
            android:name="com.tuya.smart.hometab.activity.main"
            android:exported="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="com.thingclips.smart.action.router" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="THING_SMART_APPKEY"
            android:value="${TUYA_SMART_APPKEY}" />
        <meta-data
            android:name="THING_SMART_SECRET"
            android:value="${TUYA_SMART_SECRET}" />

        <meta-data
            android:name="PACKAGE_NAME"
            android:value="${PACKAGE_NAME}" />

        <meta-data
            android:name="APP_SCHEME_NAME"
            android:value="${APP_SCHEME_NAME}" />

        <!-- demo use only start -->
        <activity
            android:name="com.thingclips.smart.demo_login.base.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- demo use only end -->
    </application>

</manifest>