<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thingclips.smart.bizbundle.miniapp.demo"
    >

    <application>
        <activity android:name=".ActMiniAppSample" />
        <activity android:name=".MiniAppTabSampleActivity"/>
    </application>
</manifest>